@tailwind base;
@tailwind components;
@tailwind utilities;

/* или просто базовые стили, если Tailwind пока не нужен */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafb;
}